@import 'reset.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6em;
  color: #212529;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #612a92;
  position: fixed;
  top: 0;
  z-index: 1;

  .container {
    display: flex;
    align-items: center;
    padding: 20px;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
}

#menu {
  color: #FFF;

  svg {
    fill: currentColor;
    height: 19px;
    width: 19px;
  }
}

#logo {
  margin: 0 20px;

  img {
    height: 40px;
  
    @media screen and (max-width: 768px) {
      height: 33px;
    }
  }
}

#search {
  width: 100%;

  .ais-SearchBox-form {
    position: relative;
  }

  input {
    appearance: none;
    outline: none;
    border: 0;
    height: 48px;
    width: 100%;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 16px;
  }

  /* clears the ‘X’ from Internet Explorer */
  input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  
  /* clears the ‘X’ from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration,
  .ais-SearchBox-reset {
    display: none;
  }

  .ais-SearchBox-submit {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    transition: opacity ease .3s;
    
    svg {
      width: 18px;
      height: 18px;
    }

    &:hover {
      opacity: 1;
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 10px;
  }
}

#hero {
  background-color: #612a92;
  background-image: url(img/background.png);
  background-size: cover;
  padding: 100px 0 130px;
  margin-top: 88px;

  .container {
    display: flex;
    justify-content: center;
  }

  img {
    max-width: 351px;
    width: 70%;
  }

  @media screen and (max-width: 1024px) {
    padding-bottom: 70px;
  }
}

#articles {
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .filters {
    position: sticky;
    top: 110px;
    height: 0px;
    margin-right: 20px;

    h2 {
      font-weight: 700;
      font-size: 20px;
      color: #333;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }

    .ais-ClearRefinements-button {
      border: 0;
      background-color: #b0d137;
      color: #FFF;
      font-size: 14px;
      outline: none;
      padding: 6px 16px;
      border-radius: 50px;
      cursor: pointer;
      margin-left: 20px;
      font-weight: 700;
      transition: all ease .3s;

      &:hover {
        background-color: #c1db61;
      }
    }
    
    .ais-ClearRefinements-button--disabled {
      opacity: 0.3;
      cursor: default;
    }

    h3 {
      font-weight: 700;
      font-size: 18px;
      margin: 30px 0 10px;
    }

    .ais-RefinementList-item {
      margin-bottom: 6px;
    }

    .ais-RefinementList-label {
      font-size: 12px;
      display: flex;
      align-items: flex-start;
    }

    .ais-RefinementList-labelText {
      padding-left: 3px;
      margin-top: -2px;
      text-transform: capitalize;
    }

    .ais-RefinementList-item .ais-RefinementList-count {
      color: #ccc;
      margin-left: .4rem;
      margin-top: -2px;
    }

    .ais-RefinementList-count:before {
      content: "(";
    }

    .ais-RefinementList-count:after {
      content: ")";
    }
  }

  .article-list {
    max-width: 800px;
    width: 100%;
    margin-top: -70px;

    .ais-Hits-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
    }

    .article {
      text-decoration: none;
      width: 100%;
      height: 100%;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #ecf0f1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    
      &-img {
        width: 100%;
      }
    
      &-text {
        padding: 40px 50px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    
      &-tag {
        font-weight: 700;
        font-size: 14px;
        color: #3790f8;
        display: block;
      }
    
      &-title {
        font-weight: 700;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        color: #333;
        margin-bottom: 10px;
      }
    
      &-subtitle {
        font-weight: 400;
        font-size: 18px;
        color: #666;
        margin-bottom: 20px;
      }
    
      &-meta {
        font-weight: 400;
        font-size: 16px;
        color: #777;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .container {
      flex-direction: column;
    }

    .filters {
      position: relative;
      height: 50px;
      top: 0;
      overflow: hidden;
      transition: all ease .3s;
      border-bottom: 1px solid rgb(221, 221, 221);
      margin-bottom: 20px;
      margin-right: 0;

      &:hover {
        height: 800px;
      }
    }

    .article-list {
      margin-top: 0px;

      .ais-Hits-list {
        grid-template-columns: 1fr;
      }

      .article-text {
        padding: 20px 30px;
      }
    }
  }
}

/* Text highlight */
em.ais-Highlight-highlighted {
  background-color: #efdeff;
}

.ais-Pagination-list {
  margin: 80px auto 50px;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: #3790f8;
  }

  .ais-Pagination-item--nextPage > a,
  .ais-Pagination-item--nextPage > span,
  .ais-Pagination-item--previousPage > a,
  .ais-Pagination-item--previousPage > span,
  .ais-Pagination-item--firstPage > a,
  .ais-Pagination-item--firstPage > span,
  .ais-Pagination-item--lastPage > a,
  .ais-Pagination-item--lastPage > span {
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    min-width: 64px;
    height: 40px;
    color: #3790f8;
    font-size: 30px;
    padding-bottom: 15px;

    @media screen and (max-width: 1024px) {
      min-width: 30px;
    }
  }

  .ais-Pagination-item--disabled {
    display: none;
  }

  .ais-Pagination-link {
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.ais-Pagination-link--selected {
      background: #3790f8;
      border-radius: 100px;
      color: #FFF;
      font-weight: 700;
    }
  }

  .ais-Pagination-item.ais-Pagination-item--page {
    display: flex;
    align-items: center;
  }
}